/* --------------------------------------------
Custom CSS for Climb Journal App
Author:		Camden Rudisill
----------------------------------------------- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: sans-serif;
}

/* ------------------------
   	App Container
--------------------------*/

#app {
  display: flex;
}

/* ------------------------
  Form and Model Container
--------------------------*/

.form-container {
  width: 50%;
}
#addClimbForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.type-button {
  width: 90px;
  height: 50px;
}

#model-container {
  display: flex;
  padding-top: 50px;
  width: 50%;
  height: 100vh;
  flex-direction: column;
  background-color: #5474A5;
  align-items: center;
  overflow: scroll;
}

#selected {
  background-color: blue;
}

/* ------------------------
    Model
--------------------------*/

.climbContainer {
  outline: 1px solid #aaa;
  width: 350px;
  background-color: #fff;
  margin: 5px;
}
