/* --------------------------------------------
Custom CSS for Climb Journal App
Author:		Camden Rudisill
----------------------------------------------- */

html, body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Work Sans', sans-serif;
  color: #fff;

}
*, *:before, *:after {
  box-sizing: inherit;
}


/* ------------------------
   	Header
--------------------------*/

.header {
  background-color: #051835;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 3px;
}

/* ------------------------
   	App Container
--------------------------*/

#app {
  display: flex;
  color: #fff;
  height: 80%;
}

/* ------------------------
    Form and Components
--------------------------*/

.form-container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgb(31, 40, 76) 0%, rgb(25, 21, 32) 100%);
}
.form-input-container {
  margin-top: 20px;
}
#addClimbForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #203557;
  width: 400px;
  height: 405px;
  margin-top: 55px;
}
#addClimbForm h1 {
  font-size: 15px;
  margin-top: 13px;
  margin-bottom: -10px;
  color: #d0cdfa;
}
.form-input {
  margin: 1px;
  height: 46px;
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #242852;
  color: #575B86;
  padding: 24px;
}
.form-input input {
  width: 225px;
  border: 0px;
  height: 27px;
  font-size: 15px;
  background-color: #242852;
  color: #d0cdfa;
}
.type-button-container {
  padding-top: 20px;
}
.type-button {
  margin: 2px;
  border: 0px;
  height: 50px;
  width: 111px;
  font-size: 13px;
  background-color: #4D94F4;
  color: #fff;
  transition: all 0.3s ease;
}
.type-button:hover {
  background-color: #3978CE;
}
.type-button:focus {
  outline: none;
}
#selected {
  background-color: #B57070;
  border: 0px;
}
.btn {
  height: 50px;
  width: 348px;
  background-color: #13C1BF;
  border: 0px;
  color: #fff;
  margin-top: 15px;
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: #B57070;
}
.btn:focus {
  outline: none;
}

/* ------------------------
    Models
--------------------------*/

#model-container {
  display: flex;
  padding-top: 50px;
  width: 100%;
  flex-direction: column;
  background-color: #DAE1E5;
  align-items: center;
  overflow: scroll;
}
.climbEntryContainer {
  display: flex;
  justify-content: space-around;
  outline: 1px solid #aaa;
  width: 500px;
  background-color: #fff;
  margin: 5px;
  border-top: 5px solid #4D94F4;
  background-color: #203557;
  color: #000;
  transition: all 0.3s ease;
}
.climbEntryContainer:hover {
  border-color: yellow;
}
.route-grade-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  height: 60px;
  width: 60px;
  border-radius: 60px;
  background-color: #13C1BF;
  color: #fff;
}
.route-info-container {
  width: 52%;
}
.route-info-container ul {
  list-style: none;
  padding: 0px;
  line-height: 23px;
  color: #ECEC87;
  font-weight: bold;
  letter-spacing: 1px;
}
.route-info-text {
  color: rgba(166, 170, 177, 0.73);
  font-weight: normal;
}
.delete {
  display: flex;
  justify-content: center;
  align-self: center;
  height: 30px;
  width: 30px;
  background-color: #EF5F5F;
  color: #fff;
  border: 0px;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.delete:hover {
  background-color: #F92C2C;
}

/* ------------------------
    Bottom Nav
  ----------------------------*/
.bottom-nav {
  display: flex;
  height: 10%;
}

.nav-link {
  display: flex;
align-items: center;
justify-content: center;
width: 50%;
background-color: #191818;
border: 1px solid #211F1F;
text-decoration: none;
color: #fff;
transition: all 0.3s ease;
}
.nav-link:hover {
  background-color: #4D94F4;
}

.nav-link-active {
  background-color: #4D94F4;
}


/* ------------------------
    Placeholder polyfills
--------------------------*/

::-webkit-input-placeholder {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.24);
}
:-moz-placeholder {
  /* older Firefox*/
  font-size: 14px;
  color: rgba(255, 255, 255, 0.24);
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 14px;
  color: rgba(255, 255, 255, 0.24);
}
:-ms-input-placeholder {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.24);
}

/* ------------------------
    Mobile
--------------------------*/

@media screen and (max-width: 480px) {

  #app {
    flex-direction: column;
  }

  .climbEntryContainer {
    width: 90%;
  }



}
